{% extends 'base.html' %}

{% block body %}
<br>
<br>
<div class="card text-center">
    <div class="card-header">
        좋아하는캐릭터
    </div>
    <div class="card-body"><br>
        <h5 class="card-title">카테고리 : 짱구</h5><br>
        <img src="https://upload.wikimedia.org/wikipedia/ko/thumb/4/4a/%EC%8B%A0%EC%A7%B1%EA%B5%AC.png/230px-%EC%8B%A0%EC%A7%B1%EA%B5%AC.png" alt="" style="width:100px;height:100px;">
        <p class="card-text">시작하려면 start를 눌러주세요</p><br>
        <a href="{% url 'QnA:question' q_id=q_id %}"><button type="button" class="btn btn-outline-primary">Start</button></a><br>
    </div>
    <div class="card-footer text-muted">
        made in : A팀
    </div>
</div>    
{% endblock %}